@charset "UTF-8";
/*-------------------------------------------
変数
-------------------------------------------*/
/*-------------------------------------------
共通
-------------------------------------------*/
body {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  background-color: #E6E2D7;
}

.container {
  max-width: 1030px;
  margin: 0 auto;
  padding-inline: 20px;
  border: 1px solid;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

ul {
  list-style: none;
}

h2 {
  font-weight: normal;
}

.site-logo {
  width: 40px;
  margin-left: 55px;
}

.section-title-en {
  font-size: 0.875rem;
}

.section-title-jp {
  font-size: 2.25rem;
}
@media screen and (max-width: 768px) {
  .section-title-jp {
    font-size: 1.5rem;
  }
}

/*-------------------------------------------
header
-------------------------------------------*/
header {
  height: 100vh;
  width: 100%;
  padding-top: 60px;
  padding-right: 80px;
  background-image: url("../img/top-background-pc.jpg");
  background-size: cover;
  background-position: center;
  writing-mode: vertical-rl;
  position: relative;
}
@media screen and (max-width: 768px) {
  header {
    background-image: url("../img/top-background-sp.jpg");
  }
}
header .header-nav-list {
  line-height: 45px;
}
header .online-store {
  display: inline-block;
  position: absolute;
  padding: 5px 30px;
  background-color: #413f3f;
  left: 30px;
  bottom: 50px;
}
header .online-store a {
  padding: 20px;
  border: 1px solid;
}

/*-------------------------------------------
news
-------------------------------------------*/
#news {
  writing-mode: vertical-rl;
  width: 100%;
  margin-inline: 200px;
}
#news h2 {
  margin-left: 80px;
}
#news dl {
  margin-top: 80px;
  height: 290px;
}
#news .news-item {
  border-left: 1px solid;
  padding-inline: 15px;
  padding-block: 30px;
}
#news .news-item:first-child {
  border-right: 1px solid;
}
#news .news-date {
  font-size: 0.75rem;
}
@media screen and (max-width: 768px) {
  #news {
    margin-inline: 60px;
  }
  #news h2 {
    margin-left: 30px;
  }
  #news dl {
    margin-top: 20px;
  }
  #news .news-item {
    padding-block: 10px;
  }
  #news .news-item:nth-child(n+4) {
    display: none;
  }
}

/*-------------------------------------------
createとscienceの共通部
-------------------------------------------*/
#create,
#science {
  display: flex;
  gap: 20px;
  margin-bottom: 200px;
}
@media screen and (max-width: 768px) {
  #create,
  #science {
    margin-bottom: 60px;
  }
}
#create .section-img-wrap,
#science .section-img-wrap {
  position: relative;
  padding-top: 100px;
}
#create .section-img-wrap img,
#science .section-img-wrap img {
  max-width: 640px;
}
#create .section-img-wrap .section-text,
#science .section-img-wrap .section-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -15px;
  width: 50%;
  height: 150px;
  color: #FFFFFF;
}
#create h2,
#science h2 {
  writing-mode: vertical-rl;
}
#create h2 .section-title-en,
#science h2 .section-title-en {
  padding-top: 30px;
}
@media screen and (max-width: 768px) {
  #create h2 .section-title-en,
  #science h2 .section-title-en {
    display: none;
  }
}

/*-------------------------------------------
create
-------------------------------------------*/
#create {
  flex-direction: row-reverse;
}
#create .section-text {
  left: -20px;
  background-color: rgba(249, 233, 6, 0.6);
}

/*-------------------------------------------
science
-------------------------------------------*/
#science .section-text {
  right: -20px;
  background-color: rgba(149, 42, 38, 0.6);
}

/*-------------------------------------------
footer
-------------------------------------------*/
footer {
  background-color: #000000;
  writing-mode: vertical-rl;
  width: 100%;
}
footer .adress {
  color: #FFFFFF;
}
footer .copyright {
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */